@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

body {
  background-color: beige;
  color: navy;
  font-family: 'Zilla Slab', serif;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}
