/*
 * Containers and layout
 */

#app { overflow-x: hidden; }

.container {
  max-width: 1025px;
  @include margin-auto;
  padding: 0 24px;
}
.container-med {
  max-width: 600px;
  @include margin-auto;
}
.container-narrow {
  max-width: 300px;
  @include margin-auto;
}
.container-twig {
  max-width: 240px;
  @include margin-auto;
}


.spacious {
  margin-top: 50px;
  margin-bottom: 50px;
}

.full-width-breakout {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

.right { float: right; }
.left { float: left; }

@media (max-width: 350px) {
  .container { padding: 0 16px; }
}
