.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.caution-box {
  padding: 8px 24px;
  margin-bottom: 10px;
  background: lighten($slow-col, 10%);
  color: darken($slow-col, 20%);
  border: 2px solid;
  border-radius: $standard-br;
}
