#study {
  position: relative;
  max-width: 1000px;
  @include margin-auto;
  min-height: 400px;
  padding-bottom: 40px; // space for bottom nav;
}

.study-nav-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;

  &.centered {
    text-align: center;
    button { margin: 0 8px; }
  }
}

.choose-opts {
  .spacious {
    font-size: 125%;
  }
}

.study-cards {
  .study-nav-top {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    a { text-decoration: none; }

    .progress { margin: 0 16px; width: 60%; }
    // .study-exit, .study-finish-early { width: 110px; }
    .study-exit { color: $stop-col; }
    .study-finish-early { color: black; }

    @media ( max-width: 550px ) {
      justify-content: space-between;
      flex-wrap: wrap;
      .progress {
        order: 3;
        width: 100%;
        margin: 5px 0 0 0;
      }
    }
  }

  .study-card-wrap {
    position: relative;
    width: 250px;
    height: 300px;
    @include margin-auto;

    .card-wrap {
      position: absolute;
      left: 0;
      transition: transform .5s, opacity .4s;

      &.curr { z-index: 10; }
      &.next, &.prev { opacity: 0; pointer-events: none; }
      &.prev { transform: translateX(-200%); }
      &.next { transform: translateX(200%); }

    }
  }

  .show-next-card, .show-prev-card {
    position: absolute;
    top: 280px;
    font-size: 40px;
    &[disabled] { opacity: .3; }
  }
  .show-next-card { right: 0; }
  .show-prev-card { left: 0; }
}

.study-results {
  font-size: 130%;
  text-align: center;

  .progress {
    max-width: 400px;
    @include margin-auto;
    .progress-bar { background: $go-col; }
  }
}
