@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:400,600');

$header-bg: rgb(46,66,107);
$select-col: mix($header-bg, white, 80%); // rgb(43,128,255); //rgb(43,96,255);
$warm-highlight: rgb(224,90,47);
$standard-br: 3px;
$btn-color: rgb(190,190,190);
$light-button: rgb(232,232,229);

$stop-col: rgb(213,61,33);
$go-col: rgb(132,190,48);
$slow-col: rgb(214,203,45);

* { margin: 0; padding: 0; box-sizing: border-box;}

body {
  background-color: beige;
  color: navy;
  font-family: 'Zilla Slab', serif;
  font-size: 18px;
}

p { margin: 1em 0; }

h1, h2, h3 {
  margin: .7em 0;
}

h1 { font-size: 200%; }


h2 { text-align: center; }

a {
  color: inherit;
  &[disabled] {
    pointer-events: none;
    &:not(.btn) { opacity: .35; }
  }
}

article {
  ul {
    margin-left: 30px;
  }
}


input, textarea {
  font-family: inherit;
}

::placeholder {
  opacity: .5;
}


@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

@import 'animations';
@import 'vendor';
@import 'layout';
@import 'header';
@import 'controls';
@import 'item-management/index.scss';
@import 'study';
@import 'settings';
@import 'misc';
